/* Вместо шрифта Gotham Pro, используеться шрифт Montserrat */
.container {
  width: 1320px;
  height: 100%;
  padding: 48px 48px 0px 48px;
}
body {
  background: #F4F7FA;
  margin: 0;
}
li {
  list-style: none;
}
button {
  cursor: pointer;
  line-height: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
/*======================
HEADER
========================*/
header {
  height: 200px;
}
.logo-img {
  width: 199px;
  height: 63px;
  float: left;
  display: inline-block;
}
.header {
  width: 100%;
  height: 63px;
}
.header-text {
  height: 63px;
}
.logo-text {
  font-weight: 100;
  font-size: 16px;
  margin-left: -80px;
  color: #3B1D8F;
  display: inline-block;
}
header p {
  display: inline-block;
  float: left;
  margin-left: 80px;
  width: auto;
  height: 63px;
  font-size: 16px;
  color: #303030;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 20px;
}
.login button {
  width: 105px;
  height: 45px;
  float: right;
  border-radius: 15px;
  background: #273895;
  color: #fff;
  border: 0px;
  font-weight: bold;
  padding: 0;
}
.login p {
  display: inline-block;
  width: 140px;
  height: 16px;
  float: right;
  margin-right: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 18px;
  color: #303030;
}
.nav {
  width: 100%;
  height: 19px;
  float: left;
}
.nav ul {
  width: 700px;
  height: 19px;
  position: relative;
  margin: 0;
  padding: 0;
}
.nav li {
  float: left;
  margin-right: 35px;
}
.nav li a {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 15px;
  margin-left: 0;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.img-nav {
  width: 145px;
  height: 145px;
  position: relative;
  float: right;
  margin-right: 180px;
  z-index: 5;
}
/*======================
END HEADER
========================*/


/*======================
POLICY
========================*/
.policy {
  width: 100%;
  height: 700px;
}
.policy-content {
  width: 733px;
}
.policy-content h1 {
  font-size: 48px;
  position: relative;
  color: #262626;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 55px;
}
.policy-content p {
  font-size: 14px;
  position: relative;
  color: #262626;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 21px;
}
.policy-content button {
  width: 268px;
  height: 56px;
  border-radius: 15px;
  padding: 16px 32px 16px 32px;
  background: #273895;
  color: #fff;
  font-weight: bold;
  margin-top: 40px;
  border: 0;
}
.img-bulb {
  display: inline-block;
  width: 438px;
  height: 488px;
  position: absolute;
  right: 170px;
  z-index: 3;
}
.block-plus {
  width: 712px;
  height: 164px;
  border-radius: 10px;
  background: #fff;
  z-index: 5;
  position: absolute;
  right: 100px;
}
.block-plus ul {
  display: flex;
  flex-direction: row;
  float: left;
  width: 653px;
  height: 104px;
  margin: 0;
  padding: 30px;
}
.block-plus li {list-style: none; flex-grow: 1;}
.block-plus p {
  font-size: 16px;
  width: 100%;
  float: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 26px;
}
.block-plus img {
  width: auto;
  height: 40px;
  float: left;
}
/*======================
END POLICY
========================*/

/*==================
ONLINE TEAM
====================*/
.online-team {
  width: 100%;
  height: 500px;
}
.online-team .left-content {
  margin-left: 191px;
  width: 438px;
  height: 268px;
  float: left;
  margin-top: 70px;
}
.online-team .left-content .logo-img {
  width: 187px;
  height: 59px;
}
.online-team .left-content-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 44px;
  font-size: 32px;
}
.online-team .left-content-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 21px;
  font-size: 14px;
}
.online-team .left-content-title, .left-content-text {
  float: left;
  margin: 20px 0 0 0;
  padding: 0;
}
.online-team .right-content {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-auto-rows: minmax(80px, 80px);
  grid-template-areas:
    "bl_1 bl_1 bl_2 bl_2 "
    "bl_1 bl_1 bl_2 bl_2"
    "bl_3 bl_3 bl_4 bl_4"
    "bl_3 bl_3 bl_4 bl_4";
  gap: 15px 20px;
}
.online-team .right-content .block_1 {
  grid-area: bl_1;
  width: 217px;
  height: 156px;
  align-self: start;
}
.online-team .right-content .block_2 {
  grid-area: bl_2;
  width: 179px;
  height: 135px;
  align-self: end;  /* Прижать к нижнему краю */
}
.online-team .right-content .block_3 {
  grid-area: bl_3;
  width: 179px;
  height: 135px;
  justify-self: end; /* Прижать к правому краю */
}
.online-team .right-content .block_4 {
  grid-area: bl_4;
  width: 197px;
  height: 171px;
}
.online-team .right-content li {
  background: #FFFFFF;
  border-radius: 10px;
  z-index: 10;
}
.online-team .right-content li h1 {
  font-size: 48px;
  background: linear-gradient(to top, #4614E8, #BCA7FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 44px;
  margin: 30px 0 0 30px;
}
.online-team .right-content li span {
  font-size: 16px;
  background: linear-gradient(to top, #4614E8, #BCA7FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 24px;
}
.online-team .right-content li h2 {
  font-size: 36px;
  background: linear-gradient(to top, #4614E8, #BCA7FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 44px;
  margin: 25px 0 0 30px;
}
.online-team .right-content li h3 {
  font-size: 16px;
  background: linear-gradient(to top, #4614E8, #BCA7FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 44px;
  margin: 25px 0 0 30px;
}
.online-team .right-content li p {
  font-size: 14px;
  color: #404040;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 21px;
  margin: 0 0 0 30px;
}
.online-team .bg-Ellipse {
  width: 500px;
  height: 500px;
  position: absolute;
  z-index: 1;
  right: 0;
}
.online-team .bg-Ellipse img:nth-child(1) {
  width: 39px;
  height: 39px;
  position: relative;
  top: 70px;
  right: 190px;
}
.online-team .bg-Ellipse img:nth-child(2) {
  width: 25px;
  height: 25px;
  position: relative;
  top: 100px;
  right: 20px;
  z-index: 1;
}
.online-team .bg-Ellipse img:nth-child(3) {
  width: 159px;
  height: 159px;
  position: relative;
  left: 100px;
  bottom: 40px;
}
/*==================
END ONLINE TEAM
====================*/

/*==========
SUPPORT
============*/
.support {
  width: 100%;
  height: 500px;
}
.support .support-title {
  text-align: center;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 24px;
}
.support-content {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1089px;
}
.support .content {
  width: 314px;
  height: 314px;
  border-radius: 10px;
  margin: 10px;
  background: #fff;
  float: left;
  padding: 30px;
}
.support .content h1 {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 24px;
}
.support .content p {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 21px;
  color: #404040;
}
.support img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 167px;
  height: 129px;
  margin-bottom: 20px;
}

/*==========
END SUPPORT
============*/

/*===========
ADVANTAGES
=============*/
.advantages {
  width: 100%;
  height: 900px;
}
.advantages .title {
  text-align: center;
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 44px;
}
.question {
  width: 187px;
  height: 105px;
  background: #fff;
  border: 12px;
  float: left;
  border-radius: 11px;
  position: relative;
  z-index: 10;
  margin-left: -150px;
  margin-top: 20px;
}
.question .title-question {
  font-size: 12px;
  text-align: center;
  margin: 15px 0px 15px 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 15px;
  color: #000000;
}
.question button {
  width: 148px;
  height: 46px;
  border-radius: 8px;
  background: #34449C;
  color: #fff;
  border: none;
  margin: 0 auto;
  display: block;
}
.question-form {
  position: fixed;
  top: 0px; /* Расположение от верхнего края */
  left: 0px; /* Расположение от левого края */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: center;
  z-index: 1000;
  display: none;
}
.question-form form {
  width: 800px;
  height: 400px;
  background: #FFF;
  margin: 0 auto;
  /* justify-content: center; /* Центрирование по горизонтали */ */
  /* align-items: center; /* Центрирование по вертикали */ */
  /* margin-top: 25vh; */
}
.question-form form .close {
  border: none;
  color: rgb(194, 12, 15);
  padding: 15px;
  font-size: 20px;
  background: none;
  margin: 0;
  display: block;
}
.question-form form input {
  width: 60%;
  height: 50px;
  background: #F4F7FA;
  color: black;
  border: none;
  margin: 0 auto;
  margin: 10px;
}
.question-form form .message {
  width: 150px;
  height: 50px;
  color: black;
  border-radius: 20px;
  border: none;
  margin: 0 auto;
  display: block;
  background: #F4F7FA;
}
.advantages .left-content {
  float: left;
  margin-left: 50px;
}
.advantages .left-content p {
  font-size: 14px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 21px;
}
.advantages .left-content ul {
  width: 432px;
  height: 250px;
  padding: 0;
}
.advantages .left-content li {
  margin-bottom: 20px;
}
.advantages .advantages-content {
  width: 350px;
  height: 230px;
  float: left;
  margin-top: 30px;
  margin-left: 50px;
}
.advantages .advantages-content h1 {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 44px;
  color: #34449C;
}
.advantages .img-advantages {
  width: 219px;
  height: 426px;
  float: left;
  margin-left: 100px;
}
.advantages .left-content .advantages-title {
  color: #FFFFFF;
  font-size: 14px;
  position: relative;
  margin: 0 auto;
  z-index: 10;
  top: 270px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 44px;
}
.advantages .img-advantages .phone-img {
  width: 219px;
  height: 410px;
  display: block;
  z-index: 5;
}
.advantages .img-advantages .bg-img {
  width: 188px;
  height: 382px;
  display: block;
  position: absolute;
  z-index: 5;
  margin: 15px;
}
.advantages .img-advantages .content-img {
  width: 171px;
  height: 166px;
  display: block;
  position: absolute;
  z-index: 6;
  margin: 85px 0px 10px 25px;
}
.advantages .right-content {
  width: 350px;
  height: 200px;
  margin-top: 60px;
  float: left;
  margin-left: 70px;
}
.advantages .right-content li {
  float: left;
  width: 400px;
  height: 30px;
  margin-bottom: 10px;
}
.advantages .right-content p {
  font-size: 14px;
  float: left;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 21px;
}
.triangle {
  float: left;
  width: 0px;
  height: 0px;
  border: 4px solid transparent;
  border-right: 4px solid #2840CD;
  border-bottom: 4px solid #2840CD;
  margin-top: 5px;
  margin-right: 15px;
}
.advantages .blocks-content {
  width: 100%;
  height: 342px;
  float: left;
  position: relative;
  top: -100px;
  z-index: 100;
}
.advantages .blocks-content ul {
  display: flex;
  flex-direction: row;
}
.advantages .blocks-content li {
  width: 236px;
  height: 311px; /* 311px */
  background: #fff;
  border-radius: 20px;
  margin-right: 15px;
  padding: 30px;
}
.advantages .blocks-content li h1 {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 20px;
}
.advantages .blocks-content li p {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 21px;
}
.advantages .blocks-content li img {
  width: auto;
  height: auto;
  margin-top: 20px;
}

/*===========
END ADVANTAGES
=============*/

/*===========
TARIFFS
=============*/
.tariffs {
  width: 100%;
  height: auto;
}
.tariff-name {
  width: auto;
  height: auto;
  text-align: center;
}
.tariff-name h1 {
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 44px;
}
.tariff-name p {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 21px;
}
.tariff-name button {
  width: 133px;
  height: 50px;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  margin-top: 15px;
}
.tariff-name .btn-activ {
  background: #273895;
  color: #fff;
}
.tariff-name .passiv {
  color: #273895;
  background: none;
  text-decoration: underline dashed;
  text-underline-offset: 10px;
}
.tariffs .content .item h1,
                        h2,
                        h3,
                        li,
                        a,
                        button {
                          margin-bottom: 25px;
                        }
.tariffs .content .item {
  width: auto;
  height: auto;
  background: #fff;
  border-radius: 20px;
  margin-top: 35px;
  padding: 40px;
}
/* .standard, .consultant, .premium, .international {
  width: 400px!important;
} */
.tariffs .content .item h1 {
  font-size: 16px;
  color: #2741D0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 30px;
}
.tariffs .content .item h2 {
  font-size: 16px;
  color: #404040;
  margin-left: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 30px;
}
.tariffs .content .item p {
  font-size: 14px;
  color: #737373;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 30px;
}
.tariffs .content .item a {
  font-size: 16px;
  color: #2741D0;
  text-decoration: none;
  float: left;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 40px;
}
.tariffs .content .item h3 {
  font-size: 16px;
  color: #404040;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 30px;
}
.tariffs .content .start button {
  margin: 0 auto;
}
.tariffs .content .item button {
  width: 220px;
  height: 56px;
  background: #273895;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  color: #fff;
}
.tariffs .content .item ul {
  margin: 0;
  padding: 0;
}
.tariffs .content .item ul p {
  font-size: 16px;
  color: #404040;
  padding-left: 25px;
}
.tariffs .content .start h2 {
  font-size: 32px;
  color: #C9C9C9;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 44px;
}
.tariffs .content .start ul {
  width: 600px;
  height: 120px;
  margin: 0 auto;
  padding: 0;
}
.tariffs .content .start ul .left {
  float: left;
}
.tariffs .content .start ul .right {
  float: right;
}
.tariffs .content .start ul p {
  font-size: 16px;
  color: #404040;
  padding: 0;
  margin: 0;
  float: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 30px;
}
.tariffs .content .start {
  grid-area: start;
  text-align: center;
}
.tariffs .content .standard {
  grid-area: stan;
}
.tariffs .content .consultant {
  grid-area: consu;
}
.tariffs .content .premium {
  grid-area: prem;
}
.tariffs .content .international {
  grid-area: inter;
}
.tariffs .content {
  display: grid;
  grid-template-columns: repeat(9, 147px);
  grid-auto-rows: minmax(647px, auto);
  grid-template-areas:
    "start start start start start start start start start"
    "stan stan stan stan . consu consu consu consu"
    "prem prem prem prem . inter inter inter inter";
}


/*===========
END TARIFFS
=============*/
/*===========
PARTNER
=============*/
.partner {
  width: 100%;
  height: 1750px;
}
.partner .group {
  width: 100%;
  height: 394px;
  margin-bottom: 50px;
  background: #273895;
}
.group img {
  display: inline-block;
  width: -webkit-fill-available;
  height: auto;
  position: absolute;
}
.group-content {
  width: 450px;
  height: 112px;
  position: relative;
  left: 200px;
  top: 85px;
}
.group-content h1 {
  font-size: 32px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 44px;
}
.group-content p {
  font-size: 16px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 24px;
}
.partner .partner-list {
  width: 1062px;
  height: 900px;
  margin: 0 auto;
}
 .item {
  width: 1062px;
  height: 300px;
  background: #fff;
  border-radius: 20px;
  margin-bottom: 20px;
}
.partner .partner-list .audience, .product {
  height: 230px;
}
.partner .partner-list .bonuses {
  height: 250px;
}
.partner .partner-list .item img {
  width: auto;
  height: auto;
  float: left;
  margin-left: 130px;
  margin-top: 6%;
}
.partner .partner-list .item h1 {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 36px;
}
.partner .partner-list .item p {
  font-size: 14px;
  color: #404040;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 20px;
}
.partner .grey {
  color: #B7B6B6 !important;
}
.partner .partner-list .partner-group-content /* div */ {
  width: 600px;
  height: auto;
  padding-top: 4%;
  float: right;
  padding-right: 45px;
}
.partner .education-group {
  width: 600px;
  height: auto;
  float: left;
  padding-left: 20px;
}
.partner .education-group .education-item {
  font-size: 14px;
  margin-bottom: 5px;
  list-style-type: disc;
}
.partner .partner-list .partner-group-content p {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}
.partner .education-group .education-item p {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}
.partner button {
  width: 250px;
  height: 56px;
  background: #273895;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  color: #fff;
  margin: 0 auto;
  display: block;
}
/*===========
END PARTNER
=============*/

/*==================
EASY TO START
====================*/
.easy-to-start {
  width: 100%;
  height: 800px;
}
.easy-to-start ul {
  background-image: url("../img/easy-to-start/Vector.png");
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-auto-rows: minmax(120px, auto);
  grid-template-areas:
  "r1 r3 r4"
  "r1 r3 r4"
  "r2 r3 r4"
  "r2 r3 r4";
  justify-content: center;

  background-size: 100% 100%;
}
.easy-to-start h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 44px;
  font-size: 32px;
}
.easy-to-start .start-range-1 {
  width: 250px;
  height: 150px;
  grid-area: r1;
}
.easy-to-start .start-range-2 {
  width: 250px;
  height: 150px;
  grid-area: r2;
}
.easy-to-start .start-range-3 {
  width: 250px;
  height: 400px;
  grid-area: r3;
}
.easy-to-start .start-range-3 img {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 25px;
}
.easy-to-start .start-range-4 {
  grid-area: r4;
  width: 250px;
  height: 285px;
  border: 2px solid transparent;
  border-radius: 20px;
  background: linear-gradient(#FFF, #FFF 0) padding-box,
    linear-gradient(to left, #4917E8, #B9A3FE) border-box;
}
.easy-to-start .number {
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 30px;
  border: 2px solid black;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 30px;
}
.easy-to-start li {
  background: #FFFFFF;
  border-radius: 20px;
  padding: 30px;
  float: left;
}
.easy-to-start li h2 {
  font-size: 16px;
  color: #404040;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 36px;
}
.easy-to-start li p {
  font-size: 14px;
  color: #404040;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 20px;
}
.easy-to-start li button {
  width: 232px;
  height: 56px;
  background: #273895;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  color: #fff;
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 18px;
}
/*==================
END EASY TO START
====================*/

/*==================
FORECASTS
====================*/
.forecasts {
  width: 100%;
  height: 287px;
  background: #273895;
}
.forecasts h1 {
  font-size: 32px;
  color: #FFFFFF;
  float: left;
  margin: 40px 0 0 60px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 44px;
}
.forecasts ul {
  width: auto;
  height: 150px;
}
.forecasts li:first-child {
  margin-left: 80px;
}
.forecasts li {
  width: auto;
  height: 150px;
  float: left;
  margin-left: 30px;
  margin-top: 20px;
}
.forecasts h2 {
  margin: 0 auto;
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 48px;

  text-transform: uppercase;
 background: linear-gradient(45deg, #4614E8 10%, #BCA7FF 65%, #8AA9D6);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 color: #FFFFFF;
 display: table;
}
.forecasts p {
  text-align: center;
  font-size: 14px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 20px;
}
/*==================
END FORECASTS
====================*/

/*==================
SUPERVISOR
====================*/
.supervisor {
  width: 100%;
  height: 800px;
  margin-top: 100px;
}
.supervisor-img {
  width: 580px;
  height: 630px;
  position: relative;
  float: left;
  margin-left: 150px;
}
.supervisor-img img {
  position: absolute;
}
.supervisor-img-content {
  width: 325px;
  padding: 35px;
  height: 80px;
  background: #FFFFFF;
  border-radius: 12px;
  box-shadow: -5px 5px 10px 0px #BBA6FF33;
  position: absolute;
  bottom: 0;
  right: 0;
}
.supervisor-img-content span {
  font-size: 32px;
  color: #303030;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 16px;
}
.supervisor-img-content p {
  font-size: 12px;
  color: #303030;
  font-style: italic;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 16px;
}
.supervisor-content {
  width: 500px;
  height: 330px;
  float: left;
  position: relative;
  top: 100px;
}
.supervisor-content p {
  font-size: 14px;
  color: #404040;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 20px;
}
.supervisor-content h1 {
  color: #303030;
  font-size: 32px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 44px;
}
.supervisor-content li {
  list-style-type: disc;
  margin: 0;
}
.supervisor-content ul {
  margin: 0;
}
.supervisor-content .span {
  margin: 15px 0 15px 0;
  font-size: 14px;
}
.supervisor-content button {
  width: 251px;
  height: 56px;
  background: #273895;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  color: #fff;
  margin-top: 10px;
}
/*==================
END SUPERVISOR
====================*/

/*==================
FOOTER
====================*/
footer {
  width: 100%;
  height: 100px;
  border-top: 2px #DEE6EF solid;
}
footer .container {
  width: 1320px;
  height: 100px;
  padding: 20px 48px 0 48px;
}
.logo {
  width: 330px;
  height: 63px;
  float: left;
}
.logo img {
  float: left;
}
.logo p {
  font-size: 16px;
  color: #3B1D8F;
  float: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 20px;
}
footer p {
  font-size: 12px;
  margin-top: 15px;
  color: #303030;
  float: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 20px;
}
.social-media {
  width: 200px;
  height: 50px;
  float: right;
}
.social-media li {
  width: 18px;
  height: 18px;
  border: 1px #CFDAE7 solid;
  border-radius: 10px;
  float: left;
  padding: 10px;
  margin-right: 8px;
}
.social-media li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer-strip {
  width: 100%;
  height: 50px;
  background: #E8EDF3;
}
.footer-strip .container {
  height: auto;
}
.footer-strip h3 {
  font-size: 12px;
  color: #7A7A7A;
  float: left;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 20px;
}
.footer-strip p {
  font-size: 10px;
  color: #7A7A7A;
  float: right;
  margin: 0;
  margin-left: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 20px;
}
/*==================
END FOOTER
====================*/